html, body, #browser, .hal-browser { height: 100%; }

#browser #location-bar { margin: 10px 0; }

#browser #location-bar .address {
  border: 1px solid #999;
  padding: 4px; margin: 0;
}

#browser #headers-bar {
 border: 1px solid #888;
 padding: 5px
}

#request-headers {
  border: 0;
  outline: none;
  padding: 0;
  resize: vertical;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.brand {
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    line-height: 1px;
}

.section {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 31.5px;
}

.sous-section {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 24.5px;
}

.inspector { height: 100%; }

.vertical-text {
    transform: rotate(90deg);
    transform-origin: center;
}

.documentation { height: 100%; }
.documentation iframe { width: 100%; height: 100%; }

.modal input, .modal textarea {
  width: 90%;
}

.modal textarea {
  height: 100px;
}

.links .btn {
  padding: 2px 5px 2px;
  font-size: 12px;
  line-height: 14px;
}

body table.table {
  font-size: 11px;
}

.location-bar-container {
  line-height: 30px;
}

.ajax-loader {
  vertical-align: middle;
  background-image: url("vendor/img/ajax-loader.gif");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  opacity: 0;
  display: inline-block;
  transition: opacity 1s;
}
.ajax-loader.visible {
  opacity: 1;
}
.embedded-resource-title {
  font-style: italic;
}
.embedded-resource-title:before {
  content: "\"";
}
.embedded-resource-title:after {
  content: "\"";
}
